<% include ../partials/Header %>
<div class="jumbotron jumbo-bg shadow">
	<h1 class="display-4">Bem-vindo ao Tascker!</h1>
	<p class="lead text-muted">
		This is a simple hero unit, a simple jumbotron-style component for calling
		extra attention to featured content or information.
	</p>
	<hr class="my-4" />
	<p class="text-muted">
		It uses utility classes for typography and spacing to space content out
		within the larger container.
	</p>
	<a
		class="btn btn-primary jumbo-button mt-4"
		href="/projects/new"
		role="button"
		><span class="mr-3"><i class="fas fa-file shadow"></i></span>
		<span class="mr-3">Começar um novo projeto</span>
	</a>
</div>
<div class="row mb-5">
	<% projects.forEach((project) => { %>

	<div class="col-12 col-lg-6 my-3 lst">
		<div class="card h-100 lst-card shadow">
			<span class="icon text-center"><i class="fas fa-layer-group"></i></span>
			<div class="card-body lst-card-body">
				<h5 class="card-title">
					<%= project.name %> <% if(project.finishedAt !== null){ %>
					<span class="badge badge-pill badge-secondary float-right"
						>Concluído</span
					>
					<%};%>
				</h5>

				<h6 class="card-subtitle mb-2 text-muted">
					<%= project.author %> - <%= moment(project.createdAt).fromNow() %>
				</h6>
				<hr />
				<p class="card-text">
					<%= project.description %>
				</p>
				<div class="text-center">
					<a
						href="/projects/<%= project.id %>"
						class="btn btn-primary d-block lst-card-button"
						>Ver Projeto</a
					>
				</div>
			</div>
		</div>
	</div>
	<% }) %>
</div>

<% include ../partials/Footer %>
