<% include ../partials/Header %>

<div class="row">
	<div class="col-12 my-2 project-card">
		<div class="card lst-card shadow ">
			<span class="icon text-center"><i class="fas fa-layer-group"></i></span>
			<div class="card-body lst-card-body">
				<h5 class="card-title">
					<%= project.name %>
					<span class="text-muted"> - <%= project.author %></span>
					<a
						href="/projects/<%= project.id %>/edit#delete"
						class="btn btn-sm btn-primary float-right mx-1 form-button danger"
						title="Apagar Projeto"
						><i class="fas fa-trash"></i
					></a>
					<% if(project.finishedAt === null){ %>
					<a
						href="/projects/<%= project.id %>/edit#finish"
						class="btn btn-sm btn-primary float-right mx-1 form-button warning"
						title="Concluír Projeto"
						><i class="fas fa-archive"></i
					></a>
					<a
						href="/projects/<%= project.id %>/edit"
						class="btn btn-sm btn-primary float-right form-button mx-1"
						title="Editar Projeto"
						><i class="fas fa-pen"></i
					></a>
					<% } else{ %>
					<span class="badge badge-pill badge-secondary ml-2">Concluído</span>
					<% } %>
				</h5>

				<hr />

				<p class="card-text">
					<%= project.description %> <% if(project.finishedAt === null){ %>
					<a
						href="/projects/<%= project.id %>/tasks/new"
						class="btn btn-primary float-right form-button mx-2 mt-4"
						>Adicionar Tarefa</a
					><% } %>
				</p>
				<p class="card-text">
					<% if(project.finishedAt === null){ %>
					<small class="text-muted"
						>Iniciado <%= moment(project.createdAt).fromNow() %></small
					>
					<% }else{ %>
					<small class="text-muted"
						>Terminado <%= moment(project.finishedAt).fromNow() %></small
					>
					<% } %>
					<small class="text-muted mx-3"
						>Tarefas: <%= project.tasks.length %>
					</small>
					<small class="text-muted mx-3">
						Tempo de trabalho: <% const workTime =
						moment.duration(project.duration) %> <%= workTime.hours() %>h <%=
						workTime.minutes() %>m</small
					>
					<% if(project.finishedAt !== null){ %>
					<small class="text-muted mx-3"
						>Duração do projeto: <% const projectDuration =
						moment.duration(project.finishedAt-project.createdAt) %> <%=
						projectDuration.hours() %>h <%= projectDuration.minutes() %>m
					</small>
					<small class="text-muted mx-3">
						Iniciado a: <%= moment(project.createdAt).format('DD/MM/YYYY')
						%></small
					>
					<% } %>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<% project.tasks.forEach((task) => { %>
	<div class="col-12 col-lg-6 my-3 lst ">
		<div class="card lst-card task shadow">
			<div class="row no-gutters">
				<div class="col-2 text-center my-auto">
					<span class="icon "><i class=" fas fa-tasks p-3 "></i></span>
				</div>
				<div class="col-10">
					<div class="card-body lst-card-body h-100">
						<% if(task.finishedAt === null) { %>
						<a
							href="/projects/<%= project.id %>/tasks/<%= task.id %>/edit#delete"
							class="btn btn-sm btn-primary float-right mx-1 my-3 form-button danger"
							title="Apagar Tarefa"
							><i class="fas fa-trash"></i
						></a>
						<a
							href="/projects/<%= project.id %>/tasks/<%= task.id %>/edit#edit"
							class="btn btn-sm btn-primary float-right mx-1 my-3 form-button"
							title="Editar Tarefa"
							><i class="fas fa-pen"></i
						></a>
						<a
							href="/projects/<%= project.id %>/tasks/<%= task.id %>/edit"
							class="btn btn-sm btn-primary float-right mx-1 my-3 form-button check"
							title="Terminar Tarefa"
							><i class="fas fa-check"></i
						></a>
						<h5 class="card-title"><%= task.name %></h5>

						<% } else {%>
						<h5 class="card-title">
							<%= task.name %>
							<span
								class="badge badge-pill badge-secondary float-right"
								title="Tarefa Concluída"
								><i class="fas fa-check"></i
							></span>
						</h5>
						<% } %>  <% if(task.finishedAt === null){
						%><small class="text-muted"><%= task.author %> -
							começou <%= moment(task.createdAt).fromNow() %> <% } else {
							%><small class="text-muted"><%= task.author %> -
							terminou <%= moment(task.finishedAt).fromNow() %>
						</small>
						<small class="text-muted float-right mx-1"><%= moment.duration(task.duration).minutes() %>'
							<i class=" far fa-clock "></i>
						</small>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% }) %>
</div>

<% include ../partials/Footer %>
